@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

:root {
    --nav-bg: rgba(237, 183, 97, 1);
    --text-color: #363732;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #363732;
    margin: 0;
}

/* logo and headings */

h1,
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--text-color);
    letter-spacing: 2px;
}

.logo {
    margin: 0;
}

/* navigation links */
header {
    background: var(--nav-bg);
    text-align: center;
    position: fixed;
    z-index: 2000;
    width: 100%;
}

.nav-extend {
    display: none;
}

.nav-extend-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-extend-label span,
.nav-extend-label span::before,
.nav-extend-label span::after {
    display: block;
    background: black;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-extend-label span::before,
.nav-extend-label span::after {
    content: '';
    position: absolute;
}

.nav-extend-label span::before {
    bottom: 7px;
}

.nav-extend-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: #363732;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #fff;
}

.nav-extend:checked~nav {
    transform: scale(1, 1);
}

.nav-extend:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}


@media screen and (min-width: 600px) {
    .nav-extend-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .logo {
        grid-column: 1 / span 2;
    }

    nav {
        all: unset;
        grid-column: 3 / 5;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 2em;
        margin-bottom: 0;
    }


    nav a {
        opacity: 1;
    }
}

/* main image */

#main-image-outer {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

#main-image {
    height: auto;
    width: 100%;
    padding-top: 140px;

    /* animation effect */
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


/* create level of zoom for animation for main image */

@keyframes main-zoom {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.03);
    }
}

/* fixtures button on main image */

#fixtures-button {
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 300px;
    height: 200px;

    padding: 1em;
    margin: auto;

    background-color: rgba(237, 183, 97, 0.5);
    bottom: 180px;
    left: 110px;

    position: absolute;
    text-align: center;
}

#fixtures-button a {
    text-decoration: none;
    color: #363732;
}

#fixtures-button a:hover {
    text-decoration: none;
    color: #fff
}

/* about us page */

h1 {
    text-align: center;
}

.container {
    max-width: 100rem;
    margin-inline: auto;
    padding-inline: 2rem;
}

.about-grid  {
    display: grid;
    gap: 2rem;
    grid-template-columns:
        repeat(auto-fit, minmax(320px, 1fr))
}

.about-card {

}

.about-us-content {
    background-color: rgba(192, 199, 98, 0.5);
    align-self: end;
    margin: 0;
    padding: 20px;
}

.football-photos {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
}