@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #363732;
}

/* logo and headings */

h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #363732;
    letter-spacing: 2px;
}

#logo {
    min-width: 320px;
    height: auto;
}
